.user-selectable {
	.user-select(initial);
}

#permissions-modal, #default-permissions-modal {
	text-transform: capitalize;

	p {
		text-transform: none;
		margin: 10px 0 0 13px;
	}

	li {
		margin-bottom: 10px;
		padding-bottom: 20px;
		border-bottom: 1px solid darken(@gray-lighter, 10%);
	}

	
	.toggle {
		display: inline-block;
	}


	.action-name {
		font-family: Roboto;
		font-size: 16px;
		vertical-align: top;
		padding-top: 3px;
		display: inline-block;
		width: 30%;
	}

	.single-permission { 
		h4 {
			display: inline-block;
			width: 30%;
		}

		.toggle {
			vertical-align: middle;
		}
	}
}

#dashboard-container {
	height: ~"calc(100% - 177px)";
	width: 100%;
	padding: 20px 0 0;
	background-color: @dash-body-bg;
	.user-select(none);
	overflow: auto;

	.table td, .table th {
		text-align: center;
	}

	.checkbox-pull {
		margin: 25px 0 0 17px;

		input {
			outline: none;
		}

        label {
            padding: 0;
        }

        .icheckbox_square-blue {
            margin-left: 5px;
        }
	}

	.pagi-container {
		margin-right: 15px;
	}

	> .container {
		height: 100%;
	}

	#no-projects {
		margin-top: 50px;
	}

	.alert {
		margin: 10px 0 20px;

		.close {
			margin-top: -2px;
		}
	}

	#projects-list {
		list-style: none;
		padding: 35px 0 0;
		height: 100%;

        .spinner {
            position: absolute;
            top: 0;
            font-size: 25px;
            background-color: rgba(0,0,0,0.5);
            width: 100%;
            height: 100%;
        }

		figure {
			color: @gray;
			margin-bottom: 15px;
			cursor: pointer;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            box-shadow: 0 1px 1px rgba(0,0,0,.04);
            transition: box-shadow 0.2s ease-in-out;
            border-radius: 3px;

            &:hover {
                box-shadow: 0 3px 10px 2px rgba(204,204,204,0.85);
            }

            .header {
                padding: 8px;
                .clearfix();

                > a {
                    color: #007BE4;
                }

                > .icheckbox_square-blue {
                    float: right;
                }
            }

            .wrap-img-responsive {
                overflow: hidden;
                max-height: 176px
            }
			.img-responsive {
				width: 100%;
			}

			> figcaption {
				padding: 10px;
				background-color: #fff;
                font-weight: 500;
                font-size: 13px;
                border-bottom-right-radius: 3px;
                border-bottom-left-radius: 3px;
                border-top: 1px solid @dash-body-bg;

                .name {
                    float: left;

                    > .updated {
                        //line-height: 28px;
                        color: rgba(102,102,102,0.5);
                        font-size: 10px;
                    }

                    > h3 {
                        margin: 0 0 1px;
                        font-size: 16px;
                        font-weight: 500;
                    }
                }

                .actions {
                    float: right;
                    padding-top: 4px;

                    > i {
                        color: @brand-primary;
                        margin-right: 5px;
                        font-size: 19px;

                        &:hover {
                            color: darken(@brand-primary, 10%);
                        }
                    }
                }
			}
		}
	}
}

#filter-bar {
    margin-top: @navbar-height;
    padding: 25px 0;
    background-color: @dash-header-bg;
    height: 127px;
    color: #fff;

    .pull-right {
        padding-top: 26px;

        > .btn {
            border: none;
            border-bottom: 3px solid darken(@brand-primary, 10%);
        }
    }

    .form-group {
        display: block;
        float: left;
        margin-right: 25px;

        > label {
            font-weight: 500;
        }

        > .form-control {
            .box-shadow(0 1px 2px rgba(0,0,0,0.2));
            border: none;
            border-radius: 5px;
            height: 37px;
            line-height: 34px;
        }
    }
}