#publish-modal {

	.demo {
		.modal-body {
			cursor: no-drop !important;
		}
		
		.form-group {
			cursor: no-drop !important;

			input, .checkbox {
				pointer-events: none;
			}
		}
	}

	.demo-alert {
		margin: 15px 0;
	}

	.form-group {
		margin-bottom: 5px;
	}

	.checkbox {
		margin-top: 33px;
		.user-select(none);

		input {
			outline: none;
		}
	}

	.loader {
		font-size: 55px;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.7);
		color: #fff;
		display: none;

		> .inner {
			position: relative;
			top: 42%;
			left: 45%;
		}

		.text {
			font-size: 18px;
			font-weight: normal;
			margin-left: -15px;
		}
	}

	.error {
		margin-top: 25px;
		display: none;
	}
}

.loader {
	font-size: 55px;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
	display: none;
	z-index: 999;

	> .inner {
		position: relative;
		top: 42%;
		left: 45%;
	}

	.text {
		font-size: 18px;
		font-weight: normal;
		margin-left: -15px;
	}
}